<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row row-cont">
        <div class="col-lg-6 col-md-12 background-img">
            <img src="../../assets/icons/LogoWhite.png" alt="logo">
        </div>
        <!-- CONTAINER DES FORMULAIRES -->
        <div class="col-lg-6 col-md-12 forms-bloc">
            <div class="row">
                <!-- CONNEXION BLOC -->
                <div class="form-block connexion-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2> Plus qu'une dernière étape </h2>
                        <p> Comment avez-vous connu VISION_MARKET ? </p>
                        <form class="row needs-validation" [formGroup]="moreInfoForm" (ngSubmit)="submitmoreInfoForm()">
                            <select class="form-select" aria-label="Default select example" required
                            formControlName="moreInfo" 
                            name="moreInfo"
                            >
                                <option value="Autre">Selectionnez une option</option>
                                <option >De bouche à oreille</option>
                                <option >Par une connaissance</option>
                                <option >Sur les réseaux sociaux</option>
                                <option >Sur internet</option>
                                <option >Autre</option>
                            </select>
                            <div class="input-group mb-3">
                                <button class="btn btn-auth"> Accédez au profil </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
