<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row row-cont">
        <div class="col-lg-6 col-md-12 background-img">
            <img src="" alt="">
        </div>
        <!-- CONTAINER DES FORMULAIRES -->
        <div class="col-lg-6 col-md-12 forms-bloc">
            <div class="row">
                <!-- CONNEXION BLOC -->
                <div class="form-block connexion-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2> Plus qu'une dernière étape </h2>
                        <p> Comment avez-vous connu VISION_MARKET ? </p>
                        <form class="row needs-validation">
                            <select class="form-select" aria-label="Default select example" required>
                                <option selected>Selectionnez une option</option>
                                <option value="1">De bouche à oreille</option>
                                <option value="2">Par une connaissance</option>
                                <option value="3">Sur les réseaux sociaux</option>
                                <option value="4">Sur internet</option>
                            </select>
                            <div class="input-group mb-3">
                                <button class="btn btn-auth"> Accédez au profil </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
