<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row row-cont">
        <div class="col-lg-6 col-md-12 background-img">
            <img src="../../assets/icons/LogoWhite.png" alt="logo">
        </div>
        <!-- CONTAINER DES FORMULAIRES -->
        <div class="col-lg-6 col-md-12 forms-bloc">
            <div class="row">
                <!-- CONNEXION BLOC -->
                <div class="form-block connexion-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2> Récupéreration de compte </h2>
                        <p> Suivez les instructions pour récupérer votre compte </p>
                        <form class="row needs-validation">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Numero de téléphone" id="validationTooltip01" required/>
                                <div class="invalid-tooltip">
                                    Numero invalide
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email" id="validationTooltip02" required/>
                                <div class="invalid-tooltip">
                                    Email invalide
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-auth" routerLink="/recovery/new-password"> Récupération </button>
                            </div>
                        </form>
                        <p class="p"> Veuillez <span class="btn-creation">consulter votre e-mail</span> pour valider le lien de de récupération </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
