<swiper [slidesPerView]="1" [spaceBetween]="0" [navigation]="true" [scrollbar]="{ draggable: true }">
    <ng-template swiperSlide class="animate__animated animate__fadeIn">
        <div class="row">
            <img src="../../assets/icons/LogoWhite.png" alt="logo">
            <h1> Avis de non responsabilité </h1>
            <p>Investir sur les marchés financiers comporte des risques, pouvant aller de la perte partielle à la perte totale du capital. Vous devez être conscient des risques et être prêt à les accepter pour investir sur les marchés financiers. Ne négociez pas avec un capital que vous ne pouvez pas vous permettre de perdre, en particulier avec des instruments à effet de levier. Ce site n’est ni une sollicitation, ni une recommandation d’achat ou de vente d’instruments financiers. </p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="animate__animated animate__fadeIn">
        <div class="row">
            <img src="../../assets/icons/LogoWhite.png" alt="logo">
            <h1> Avis de non responsabilité </h1>
            <p>Il appartient à chacun d’établir ses propres règles d’investissement, d’achat, de vente, de gestion de risque, ou de money management.Les performances passées ne préjugent pas des performances futures. Il est recommandé à toute personne non avertie de prendre conseil auprès de professionnels avant tout investissement. Le visiteur intervient de son propre chef et est libre de ses propres décisions.</p>
        </div>
    </ng-template>
</swiper>