<div class="container-fluid animate__animated animate__fadeIn">
    <div class="container-fluid-row row">

        <!-- LEFT BLOC (LEFT MENU) -->
        <div class="container-fluid-row_bloc container-fluid-row_left container-fluid-row_left--large">
            <div class="row">
                <button class="btn"><a href="boards/home">Dashboard</a></button>
                <button class="btn actvd"><a href="boards/courses">Edit Modules</a></button>
                <button class="btn"><a href="boards/class">Class</a></button>
                <button class="btn"><a href="boards/forums">Forums</a></button>
                <button class="btn btn-logout"><a href="boards/login">Logout</a></button>
            </div>
        </div>

        <!-- CENTERED BLOC (ITEMS) -->
        <div class="container-fluid-row_bloc container-fluid-row_centered">
            <div class="row">


                <!-- SWITCH BOX AND HORIZONTAL MENU -->
                <div class="col-lg-12 centered-menu">
                    <div class="row">
                        <!-- FIXED NAVBAR -->
                        <nav class="navbar navbar-expand-lg navbar-top animate__animated animate__fadeIn" id="navbar">
                            <div class="container containerBlock">
                                <a class="navbar-brand iconMenuPc menuModalIcon" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-grid btn-grid" viewBox="0 0 16 16">
                                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                                    </svg>
                                </a>


                                <div class="justify-content-lg-center mr-2">
                                    <a class="navbar-brand" href="home">
                                        <img src="" class="logo" alt="">
                                        <span> VISION_MARKET </span>
                                    </a>
                                </div>


                                <div class="form-inline">
                                    <a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>


                <!-- INFORMATION BLOC -->
                <div class="col-lg-12 profil-datas-bloc">
                    <div class="row datas-container">


                        <!-- COURSES LIST CONTAINER -->
                        <div class="courses-liste-container">
                            <div class="row">

                                <!-- AFFICHAGE DE LA LISTE DES COURS D'UN MODULE -->
                                <div class="col-12 module-courses-bloc">
                                    <h5> <span class="serviceNumberTitile">0</span>
                                        Titre du module &nbsp;&nbsp;
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill pencil-edit-module" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </h5>
                                    <!-- modèle d'un cours -->
                                    <div class="col-12 views">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                                                    <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                                                </svg>
                                            </div>
                                            <div class="col-4">
                                                Bien commencer la formation &nbsp;&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill pencil-edit" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                </svg>
                                            </div>
                                            <div class="col-4">
                                                <span> [ 4:00 ] </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modèle d'un cours -->
                                    <div class="col-12 views">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                                                    <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                                                </svg>
                                            </div>
                                            <div class="col-4">
                                                Bien commencer la formation &nbsp;&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill pencil-edit" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                </svg>
                                            </div>
                                            <div class="col-4">
                                                <span> [ 4:00 ] </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- modèle d'un cours -->
                                    <div class="col-12 views">
                                        <div class="row">
                                            <div class="col-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tv" viewBox="0 0 16 16">
                                                    <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                                                </svg>
                                            </div>
                                            <div class="col-4">
                                                Bien commencer la formation &nbsp;&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill pencil-edit" viewBox="0 0 16 16">
                                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                </svg>
                                            </div>
                                            <div class="col-4">
                                                <span> [ 4:00 ] </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- SWIPER MENU -->
                        <swiper [slidesPerView]="5" [spaceBetween]="8" [navigation]="true" class="animate__animated animate__fadeIn">
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-0">
                                    Module 0
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-1"> Module 1 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-2"> Module 2 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-3"> Module 3 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-4"> Module 4 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-5"> Module 5 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-6"> Module 6 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-7"> Module 7 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-8"> Module 8 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-9"> Module 9 </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="module-bloc btn-10"> Module 10 </div>
                            </ng-template>
                        </swiper>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTAINER COUVERTURE TRANSPARENTE -->
<div class="cover-bloc animate__animated animate__fadeIn">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg>

    <!-- POPUP INFORMATION -->
    <div class="row popup-menu-social">
        <div class="col-lg-12 addInformation-bloc menu-social">
            <swiper [slidesPerView]="5" [spaceBetween]="10" [navigation]="true" [scrollbar]="{ draggable: true }">
                <ng-template swiperSlide class="animate__animated animate__fadeIn">
                    <button class="btn"><a href="boards/home">Dashboard</a></button>
                </ng-template>
                <ng-template swiperSlide class="animate__animated animate__fadeIn">
                    <button class="btn"><a href="boards/courses">Edit Modules</a></button>
                </ng-template>
                <ng-template swiperSlide class="animate__animated animate__fadeIn">
                    <button class="btn"><a href="boards/class">Class</a></button>
                </ng-template>
                <ng-template swiperSlide class="animate__animated animate__fadeIn">
                    <button class="btn"><a href="boards/forums">Forums</a></button>
                </ng-template>
                <ng-template swiperSlide class="animate__animated animate__fadeIn">
                    <button class="btn btn-logout"><a href="boards/login">Logout</a></button>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>


<!-- EDIT COURSE POPUP -->
<div class="cont-edit container-edit-course  animate__animated">
    <div class="datas-popup animate__animated animate__zoomIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x-circle close-edit" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <h3> Course Edit </h3>
        <form action="#" class="course-form-edit">
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Download course video</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file"/>
            </div>
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Course title</label>
                <input class="form-control form-control-lg" type="text"/>
            </div>
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Duration</label>
                <input class="form-control form-control-lg" type="text" placeholder="exemple (3:00)"/>
            </div>
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Exercise link</label>
                <input class="form-control form-control-lg" type="text"/>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2-all validate-form" viewBox="0 0 16 16">
                <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
            </svg>
        </form>
        <p class="success-message">
            course changed successfully
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        </p>
    </div>
</div>

<!-- EDIT MODULE POPUP -->
<div class="cont-edit container-edit-module  animate__animated">
    <div class="datas-popup animate__animated animate__zoomIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-x-circle close-edit-module" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <h3> Module Edit </h3>
        <form action="#" class="module-form-edit">
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Module title</label>
                <input class="form-control form-control-lg" type="text"/>
            </div>
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Module number</label>
                <input class="form-control form-control-lg" type="text" placeholder="exemple (0)"/>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-check2-all validate-form" viewBox="0 0 16 16">
                <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
            </svg>
        </form>
        <p class="success-message">
            Module changed successfully
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        </p>
    </div>
</div>