<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row row-cont">
        <div class="col-lg-6 col-md-12 background-img">
            <img src="../../assets/icons/LogoWhite.png" alt="logo">
        </div>
        <!-- CONTAINER DES FORMULAIRES -->
        <div class="col-lg-6 col-md-12 forms-bloc">
            <div class="row">
                <!-- CONNEXION BLOC -->
                <div class="form-block connexion-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2> Nouveau mot de passe ! </h2>
                        <p> Suivez les instructions pour récupérer votre compte </p>
                        <form class="row needs-validation">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Nouveau mot de passe" id="validationTooltip01" required/>
                                <div class="invalid-tooltip">
                                    Mot de passe invalide
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Confirmation" id="validationTooltip02" required/>
                                <div class="invalid-tooltip">
                                    Mot de passe non conforme
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-auth" type="submit" routerLink="/profil"> Récupération </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

