<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row row-cont">
        <div class="col-lg-6 col-md-12 background-img">
            <img src="" alt="">
        </div>
        <!-- CONTAINER DES FORMULAIRES -->
        <div class="col-lg-6 col-md-12 forms-bloc">
            <div class="row">
                <!-- CONNEXION BLOC -->
                <div class="form-block connexion-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2> Compte Administrateur </h2>
                        <p> Entrez les coordonnées et accédez au dashboard </p>
                        <form class="row needs-validation">
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Mot de passe" id="validationTooltip01" required/>
                                <div class="invalid-tooltip">
                                    Numero invalide
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-auth" routerLink="boards/home"> Connexion </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
